@media (max-width: 1440px) input[type="text"], input[type="email"], input[type="password"] {
    width: 94%;
}

@media(min-width:1100px) {
    .mobile_display {
        display: none !important
    }

    .popup .popup_center {
        left: 50% !important;
        top: 50% !important;
        position: fixed !important;
        transform: translate(-50%, -50%) !important
    }
}

@media (min-width: 1700px) .col-waka-card {a
    width: 380px;
}

@media (max-width: 1099px) body header .top {
    height: auto;
}

@media (max-width: 1099px) body header .top .top_search {
    width: 200px;
    margin-left: 10px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    display: none;
}

@media (max-width: 1099px) body header .top_search .search_result {
    margin-top: 0;
}

@media (max-width: 1099px) body header .top .right ul li.other {
    display: block;
}

@media (max-width: 1099px) body header .bottom {
    height: auto;
    position: relative;
}

@media (max-width: 1099px) body header .bottom .book_tags {
    position: unset;
    display: none !important;
}

@media (max-width: 1099px) body header .bottom .book_tags p {
    width: 50%;
}

@media (max-width: 1099px) body header .bottom .book_tags .book_tags_content {
    margin: unset;
}

@media (max-width: 1099px) body header .bottom ul li {
    float: none;
    width: 100%;
    display: inline-block;
}

@media (max-width: 1099px) .div_middle {
    width: 100% !important;
    padding: 0 10px;
}

@media (max-width: 1099px) .popup {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    position: absolute;
}

@media (max-width: 1099px) {

    ul.list_grid li {
        width: 23%;
        margin: 15px 1%
    }

    .pc_display {
        display: none !important
    }

    body.transaction .content .main_content.transaction #transaction_content #my_bag {
        min-height: inherit
    }

    body header .top .right ul li.other {
        display: block;
    }

    .inside_control p {
        float: none
    }

    .inside_control button {
        float: none;
        margin-top: 10px
    }


    body .content .menu_right .event {
        width: 50%;
        margin: 20px auto 10px
    }

    body.transaction .content .main_content.transaction #transaction_content #my_bag {
        width: 100%;
        float: none;
        padding-right: 0
    }

    body.transaction .content .main_content.transaction #transaction_content .transaction_div {
        width: 100%;
        float: none
    }

    body.transaction .content .main_content.transaction #transaction_content #transaction_item {
        float: none;
        width: 100%
    }

    body .content .main_content .list_item {
        width: 100%;
        height: 200px
    }

    body.hompage .content .main_content.party .party_content .party_detail ul li,
    body.hompage .content .main_content.party .party_content .party_detail ul li:first-child {
        width: 100%;
        border: 1px solid #e2e2e2;
        margin-bottom: 15px
    }

        body.hompage .content .main_content.party .party_content .party_detail ul li:nth-child(3) {
            border: 1px solid #e2e2e2
        }

    .party ul.party_member {
        margin: 0
    }

    body.hompage .content .main_content.party .party_content {
        padding: 10px
    }

    .party ul li {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 20px
    }

    body.detail .content .main_content .chapter_content .chapter_control select {
        width: 80px
    }

    body.detail .content .main_content .chapter_content .middle {
        width: 178px
    }


    body header .bottom ul {
        float: none;
        width: 100%
    }

        body header .bottom ul li {
            float: none;
            width: 100%;
            display: inline-block;
            padding: 0 10px;
        }

            body header .bottom ul li.menu_hidden {
                display: none;
            }

        body header .bottom ul.menu_mobile li.menu_hidden {
            display: block;
        }

    body header .bottom .menu_hidden .expanded {
        display: block !important;
    }

    body header .bottom .book_tags {
        position: unset !important;
        display: none;
    }

        body header .bottom .book_tags .book_tags_content {
            margin: unset;
        }

    body header .bottom {
        height: auto;
        position: relative;
    }

        body header .bottom .book_tags p {
            width: 50%
        }

    body header .top {
        height: auto
    }

    body header .top_search .search_result {
        margin-top: 0
    }

    body .pc_hover:hover {
        color: inherit !important
    }

    .div_middle {
        width: 100% !important;
        padding: 0 10px
    }

    body.hompage .content .main_content {
        width: 100%;
        float: none
    }

    body header .top .top_search {
        width: 200px;
        margin-left: 10px;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        display: none
    }

    body .content .main_content .book_detail .book_info .book_avatar {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px
    }

    body .content .main_content .book_detail .book_info .book_other {
        width: 100%;
        margin: 0
    }

    body .content .main_content .book_detail .book_info {
        padding: 0
    }

        body .content .main_content .book_detail .book_info .book_other p.kind {
            margin-top: 10px
        }

            body .content .main_content .book_detail .book_info .book_other p.kind span {
                display: inline-block;
                line-height: 30px;
                margin-right: 10px;
                margin-bottom: 10px
            }

    body .content .menu_right {
        width: 100%;
        float: none;
        padding: 0
    }

        body .content .menu_right .top ul li .detail {
            width: calc(100% - 100px)
        }

    .grecaptcha-badge {
        display: none
    }

    .col-xs-3 {
        width: 20%;
    }

    .col-xs-9 {
        width: 80%;
    }

    .story-detail-menu {
        text-align: center;
    }

        .story-detail-menu li {
            display: inline-block;
            width: 24%;
        }

            .story-detail-menu li a {
                font-size: 14px;
                min-width: auto;
                margin-bottom: 7px;
                width: 100%;
            }

    .li04-1 {
        margin-left: 3px;
    }
}


@media(max-width:799px) {
    .col-xs-3 {
        width: 30%;
    }

    .col-xs-9 {
        width: 70%;
    }

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
        white-space: unset !important;
    }

    body header .top button.dark_mode {
        margin-left: 10px
    }

    body header .top .right ul li button {
        width: auto
    }

    body.detail .content .main_content #chapter_content h1 {
        font-size: 18px;
        padding: 0 10px 10px 10px;
        line-height: 25px
    }

    body.detail .content .main_content .book_detail .book_info .book_other .kind p {
        font-size: 13px
    }

    body.detail .content .main_content .book_detail .book_info .book_other .book_button {
        margin-top: 10px;
    }

        body.detail .content .main_content .book_detail .book_info .book_other .book_button button {
            width: 47%;
            margin: 10px 1%
        }

    body.detail .content .main_content .book_detail .book_info .book_other p.name {
        font-size: 16px;
    }

    body.detail .content .main_content .chapter_content_div {
        width: calc(100% + 20px);
        margin-left: -10px
    }

    body.detail .content .main_content .chapter_content canvas {
        width: calc(100% + 20px);
        margin-left: -10px
    }

    body.detail .content .main_content .chapter_content .left {
        margin-left: 10px
    }

    body.detail .content .main_content .chapter_content .right {
        float: left
    }

    footer .left,
    footer .right {
        width: 100%;
        float: none
    }

    footer .left {
        margin-bottom: 20px
    }

    ul.list_grid li {
        width: 31%;
        margin: 15px 1%
    }

    .col-sm-12 {
        width: 100%;
    }

    .messages .nav-user {
        border-right: unset;
    }

    .story-detail-menu li {
        width: 49%;
    }

    .schedule {
        margin-bottom: 25px
    }

        .schedule .schedule-inner {
            display: block;
            width: 100%;
            padding: 10px
        }

        .schedule .time {
            flex: none;
            height: auto;
            padding: 5px 10px;
            font-size: 105%;
            margin-right: 0;
            margin-bottom: 15px
        }

        .schedule .schedule-list li {
            display: block;
            font-size: 100%;
            margin: 0 0 5px
        }

    .hero {
        display: none;
    }
}

@media(max-width:599px) {
    .skillbox {
        width: 100% !important;
    }

    .popup .popup_content {
        width: 100% !important;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0)
    }

    ul.list_grid li {
        width: 48%;
        margin: 15px 1%
    }

    .col-md-10 {
        width: 60%;
    }

    .col-md-2 {
        width: 38%;
    }

    .col-xs-3 {
        width: 40%;
    }

    .col-xs-9 {
        width: 60%;
    }

    .list-messages {
        width: 100%;
        top: 64px;
    }

    body header .top .right ul li.notication-bell {
        position: unset;
    }

    body header .top .right ul li .num {
        top: 20px;
        right: 65px;
    }

    .list-messages {
        border-radius: 0px
    }
}

@media(max-width:499px) {
    .comment-container .group01 .list-comment .action-comment span {
        font-size: 11px;
    }

    .genre-item {
        width: 48%;
        display: inline-block;
    }

    .label-search {
        width: 48%;
        padding-bottom: 5px;
    }

    .select-search {
        width: 48%;
        padding-bottom: 5px;
    }

    body.detail .content .main_content .chapter_content .button span {
        display: none;
    }

    .list-radio {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    ul.list_grid li {
        width: 31.33333333%;
    }
}
