body {
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

#header_left_menu li {
    background-color: #76b852;
}

#header_left_menu {
    background-color: #76b852;
}

.book-row {
    display: inline-block;
    width: 100%;
}

.card-book {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    float: left;
    margin-top: 30px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    width: 275px;
}

.col-waka-card {
    width: 275px;
    float: left;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 20px;
    margin-top: 5px;
}

.card-book-img {
    margin-left: 14px;
    float: left;
    margin-top: -21px;
    width: 120px;
    max-width: 120px;
    height: 176px;
    box-shadow: 0px 0px 10.32px 1.68px rgba(0, 0, 0, 0.2);
}

    .card-book-img img {
        width: 120px;
        height: auto;
        height: 176px;
        background: transparent url(../images/books/book_default.png);
        background-size: 120px 176px;
        -webkit-box-shadow: 0px 0px 10.32px 1.68px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 10.32px 1.68px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10.32px 1.68px rgba(0, 0, 0, 0.2);
    }

.card-book-info {
    width: -moz-calc(100% - 135px);
    width: -webkit-calc(100% - 135px);
    width: calc(100% - 135px);
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 200px;
    overflow: hidden;
}

.card-book-info-title h3 {
    font-size: 13px;
    line-height: 18px;
    color: #3a4752;
    margin-bottom: 3px;
    margin-top: 9px;
    height: 36px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-book-info-author {
    margin-bottom: 0;
    font-size: 11px;
    color: #738797 !important;
}

.card-book-info-description {
    font-size: 11px;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

    .card-book-info-description * {
        font-weight: normal !important;
        font-size: 11px !important;
        color: #738797 !important;
    }

.break-line {
    height: 1px;
    float: left;
    background-color: #f0f0f0;
    background: -webkit-linear-gradient(left, #f0f0f0, transparent);
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 13px;
}

.card-book-view {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
    float: left;
    padding: 4px 0px;
    margin-left: 15px;
    font-size: 11px;
    color: #738797 !important;
}

button {
    cursor: pointer
}

header {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

    body header .top {
        height: 64px;
        background-color: #fff;
        padding: 10px 0;
    }

        body header .top .top_search {
            width: 420px;
            position: relative;
            margin-left: 20px;
            float: left;
        }

            body header .top .top_search input {
                background-color: #f9f9f9;
                width: 100%;
                height: 100%;
                border: solid 1px #e0e0e0;
                border-radius: 50px;
                padding: 0 45px 0 20px;
                color: #757575;
                font-family: inherit;
                font-weight: inherit;
                font-size: inherit;
                height: 44px;
            }

            body header .top .top_search button {
                color: #76b852;
                background: 0 0;
                border: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-10px, -50%);
                font-size: 19px;
            }

            body header .top .top_search .search_result {
                position: absolute;
                background-color: #fff;
                width: 100%;
                margin-top: 2px;
                border-radius: 3px;
                box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
                max-height: 400px;
                z-index: 2;
                overflow: auto;
                display: none;
            }

        body header .top .logo {
            float: left;
            color: #333;
            font-size: 22px;
            letter-spacing: 1px;
            line-height: 44px;
        }

            body header .top .logo img {
                height: 40px;
                float: left;
            }

        body header .top .right ul li .hidden_div {
            position: absolute;
            right: 0;
            top: 54px;
            z-index: 3;
            display: none
        }

            body header .top .right ul li .hidden_div ul {
                background-color: #fff;
                padding: 15px;
                width: 250px;
                box-shadow: 0 0 1px 0 #000;
                border-radius: 5px
            }

        body header .top .right > ul > li {
            position: relative;
            float: left;
            margin-left: 10px
        }

        body header .top .right ul li ul li {
            float: none;
            margin-left: 0
        }

        body header .top .right ul li .hidden_div ul li {
            line-height: 35px;
            font-size: 15px
        }

        body header .top .right ul li.profile {
        }

            body header .top .right ul li.profile .member_profile {
                cursor: pointer
            }

                body header .top .right ul li.profile .member_profile img {
                    width: 44px;
                    height: 44px;
                    border-radius: 80px;
                    float: left
                }

                body header .top .right ul li.profile .member_profile .member_info {
                    float: left;
                    margin-left: 8px
                }

                    body header .top .right ul li.profile .member_profile .member_info p {
                        line-height: 21px
                    }

                        body header .top .right ul li.profile .member_profile .member_info p.name {
                            font-weight: 600;
                            font-size: 15px;
                            margin-top: 1px
                        }

                        body header .top .right ul li.profile .member_profile .member_info p.title {
                            color: #f18121;
                            font-size: 13px;
                            text-transform: capitalize
                        }

        body header .top .right ul li.other {
            font-size: 17px;
            height: 44px;
            width: 44px;
            color: #fff;
            background-color: #76b852;
            border-radius: 150px;
            line-height: 44px;
            text-align: center;
            display: none;
            position: relative;
        }

        body header .top .right ul li button {
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
            line-height: 34px;
            color: #fff;
            font-size: 12px;
            width: 100px;
            cursor: pointer;
            margin-left: 5px;
            background-color: #76b852;
            font-weight: 600;
            margin: 5px 0;
        }

    body header .bottom {
        height: 52px;
        width: 100%;
        background-color: #76b852;
    }

        body header .bottom .menu_hidden .expanded {
            display: block !important;
        }

        body header .bottom ul.menu_mobile li.menu_hidden {
            display: block;
        }

            body header .bottom ul.menu_mobile li.menu_hidden:hover .book_tags {
                display: block;
            }

        body header .bottom ul li {
            padding-right: 25px;
            float: left;
            color: #fff;
            line-height: 52px;
            font-size: 14px;
        }

            body header .bottom ul li > .hidden_menu {
                display: none;
            }

        body header .bottom .book_tags {
            width: 100%;
            position: absolute;
            background-color: #fff;
            left: 0;
            color: #333;
            z-index: 2;
            display: none;
            border: 1px solid #d8d8d8;
        }

            body header .bottom .book_tags .book_tags_content {
                margin: 10px 0;
            }

            body header .bottom .book_tags a {
                float: left;
                width: 140px;
                line-height: 40px;
            }

        body header .bottom .nav_menu {
            position: absolute;
            right: 15px;
            top: 25px;
            font-size: 30px;
            color: #fff;
            transform: translate(0, -50%);
        }

.user {
    float: right;
    font-size: 17px;
    height: 44px;
    width: 44px;
    color: #fff;
    background-color: #76b852;
    border-radius: 150px;
    line-height: 44px;
    text-align: center;
    position: relative;
}

.list_title a {
    color: #76b852;
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    position: relative;
    width: 100%;
    margin-top: 10px;
    min-height: 60px;
    float: left;
}

.list_grid_out {
    margin-left: 0
}

ul.list_grid li {
    width: 275px;
    float: left;
    margin: 10px
}

    ul.list_grid li .book_avatar {
        height: 220px;
        width: 100%;
        overflow: hidden;
        border-radius: 6px;
        position: relative
    }

        ul.list_grid li .book_avatar img {
            width: 100%;
            min-width: 100%;
            height: auto;
            vertical-align: middle;
            display: inline-block;
            border: 1px solid #ccc;
        }

    ul.list_grid li .book_info .book_name {
        text-align: center;
        line-height: 35px;
        font-weight: 600;
        font-size: 13px;
        margin-top: 7px;
        height: 35px;
        max-width: 100%;
        overflow: hidden;
        text-transform: capitalize
    }

        ul.list_grid li .book_info .book_name h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

img.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.div_middle {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.btn-warning {
    color: #fff;
    background-color: #76b852;
    border-color: #eea236;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.field-validation-error {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 0.5em;
    font-size: 3em;
    color: #76b852;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

.right {
    float: right
}


.main-agileinfo {
    padding: 20px;
    z-index: 99999;
    color: #000;
}

.form-horizontal {
    width: 100%;
    margin: 2em auto;
    background-size: cover;
}

.col-md-10 {
    width: 100%
}

.form-group input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

input[type="submit"]:hover {
    transition: .5s all;
    background: #8DC26F;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    width: 100%;
    border-color: #76b852;
    margin-bottom: 10px;
    padding: 0.8em;
    border: solid 1px #76b852;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}


.div_middle h2 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.text_list_hot {
    color: #ff2853;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding-bottom: 20px;
}

.div_middle h2 .titlelist {
    color: #f18121;
    padding: 10px 0px;
}

.box-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px !important
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative
}

    .row .col-2 {
        flex-basis: 100%;
    }

        .row .col-2 img {
            width: 100%;
        }

        .row .col-2 .btn {
            padding: 0;
        }

.pc_display {
    display: none !important
}

.clear {
    clear: both
}

.MenuTrang {
    padding-top: 20px;
    text-align: center;
}

    .MenuTrang li {
        padding-top: 20px;
        text-align: center;
        display: inline
    }

    .MenuTrang a {
        clear: both;
        color: #76b852;
        margin: 0 4px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        display: inline-block;
        border-radius: 150px;
        cursor: pointer;
        font-size: 16px;
        border: 1px solid #e2e2e2;
    }

    .MenuTrang .active a {
        background-color: #76b852;
        color: snow;
    }

.show-read-more .more-text {
    display: none;
}

.has-text-centered {
    padding-top: 10px;
    text-align: center !important;
}

.pagination {
    padding-top: 20px;
    text-align: center;
}

.content .main_content .book_detail .book_info .book_other p, body.detail .content .main_content .book_detail .book_info .book_other div span {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.content .main_content {
    padding-bottom: 25px;
    padding-top: 10px;
}

    .content .main_content .book_detail {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
    }

        .content .main_content .book_detail .list_chapter {
            width: 100%;
            border-radius: 5px;
            max-height: 500px;
            overflow: auto;
            min-height: auto;
            box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
            color: #4a4a4a;
            display: block;
            padding: 1.25rem;
            font-weight: 400;
            font-size: 15px;
        }

        .content .main_content .book_detail h3 {
            color: #76b852;
            font-size: 18px;
            font-weight: 400;
            line-height: 40px;
            position: relative;
            width: 100%;
            margin-top: 10px;
        }

        .content .main_content .book_detail .book_info {
            padding: 15px;
            position: relative;
        }

            .content .main_content .book_detail .book_info .book_avatar {
                height: 250px;
                overflow: hidden;
                width: 190px;
                border-radius: 5px;
                text-align: center;
                box-shadow: 0 0 8px 0 #757575;
                float: left
            }

                .content .main_content .book_detail .book_info .book_avatar img {
                    height: 100%;
                    width: auto;
                }

            .content .main_content .book_detail .book_info .book_other {
                width: calc(100% - 220px);
                float: right;
                text-align: left;
            }

                .content .main_content .book_detail .book_info .book_other h1 {
                    text-align: left;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 25px;
                    padding: 0 0 10px;
                    color: black;
                }

ul.list-info {
    clear: both;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

    ul.list-info li {
        display: block;
    }

        ul.list-info li p {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            padding: 0;
            text-transform: inherit;
            color: #000;
        }

        ul.list-info li p {
            padding-top: 0;
            line-height: 27px;
            float: left;
        }

.col-xs-3 {
    width: 17%;
}

.col-xs-9 {
    width: 83%;
}

.breadcrumb {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .breadcrumb li {
        display: inline;
        line-height: 23px;
    }

    .breadcrumb a {
        align-items: center;
        font-size: 13px;
        color: #424242;
    }

        .breadcrumb a span {
            font-size: 14px;
            font-weight: 600;
        }

.list01 {
    overflow: hidden;
    padding-bottom: 10px;
}

    .list01 li a {
        display: inline-block;
        border: 1px solid #76b852;
        color: #76b852;
        float: left;
        padding: 4px 6px;
        border-radius: 3px;
        margin-right: 10px;
    }

.comment-container {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

    .comment-container .story-detail-title {
        color: #76b852;
        font-size: 20px;
    }

        .comment-container .story-detail-title i {
            margin-right: 10px;
        }

    .comment-container .item {
        padding: 10px 0;
    }

.story-detail-menu {
    overflow: hidden;
}

    .story-detail-menu li a {
        background: #76b852;
        font-size: 15px;
        float: left;
        color: #fff !important;
        margin-right: 8px;
        min-width: 125px;
        font-weight: 400;
        padding: 10px;
        text-align: center
    }

.button.is-danger {
    background-color: #76b852;
    border-color: transparent;
    color: #fff;
}

.button.is-rounded {
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.book_detail span i {
    padding-right: 5px;
}

#story-reading {
    margin-bottom: -12px;
}

#funbar {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 1020;
    background-color: #fff;
    border-bottom: 2px solid #eee;
}

#funbar-story {
    float: left;
    position: relative;
    border-right: 1px solid #fff;
}

    #funbar-story .btn-toc {
        margin: 0;
        height: 60px;
        padding-left: 0;
        padding-right: 45px;
        padding-bottom: 10px;
        min-width: 300px;
        text-align: left;
        background: 0 0;
        border-right: 1px solid #eee;
        border-radius: 0;
        border: 2px solid transparent;
    }

    #funbar-story .cover, #funbar-story .info {
        display: inline-block;
        vertical-align: middle;
    }

    #funbar-story .info {
        padding-left: 10px;
        text-align: left;
    }

        #funbar-story .info .title {
            display: block;
            font-size: 16px;
            line-height: 18px;
            margin: 0;
            font-weight: 600;
            color: #222;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 340px;
        }

        #funbar-story .info .author {
            font-size: 13px;
            line-height: 15px;
            margin: 0;
            font-weight: 400;
            color: #6f6f6f;
        }

    #funbar-story .fa-caret-down {
        right: 18px;
        top: 28px;
        position: absolute;
    }

    #funbar-story .dropdown-menu {
        background-color: #fff;
        display: none;
        position: absolute;
        min-width: 300px;
        margin: 0;
        padding: 0;
        border: none;
        border-top: 1px solid #eee;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
        box-shadow: 0 2px 4px rgba(0,0,0,.25);
        float: left !important;
    }

        #funbar-story .dropdown-menu .toc-header {
            overflow: hidden;
            text-align: center;
            background: #fff;
        }

            #funbar-story .dropdown-menu .toc-header h6 {
                margin: 12px 12px 0;
                font-size: 15px;
            }

            #funbar-story .dropdown-menu .toc-header small {
                display: block;
                color: #6f6f6f;
                padding-bottom: 6px;
                font-size: 13px;
            }

        #funbar-story .dropdown-menu > ul {
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            max-height: 425px;
            white-space: nowrap;
            list-style-type: none;
            -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.06);
            box-shadow: inset 0 2px 3px rgba(0,0,0,.06);
        }

            #funbar-story .dropdown-menu > ul li {
                padding: 9px 20px 12px 12px;
                border-top: 1px solid #eee;
            }

                #funbar-story .dropdown-menu > ul li.active a {
                    color: #ff6122;
                    border-left: 4px solid #ff6122;
                    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,.04);
                    box-shadow: inset 0 0 9px rgba(0,0,0,.04);
                }

                #funbar-story .dropdown-menu > ul li a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    font-weight: 600;
                    color: #222;
                    height: auto;
                    margin: 0;
                    padding: 9px 20px 12px 12px;
                    line-height: 18px;
                    white-space: inherit;
                }

                #funbar-story .dropdown-menu > ul li .part-title {
                    float: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

.funbar-controls {
    float: right;
    line-height: 60px;
}

    .funbar-controls > .button-listadd {
        vertical-align: middle;
        display: inline-block !important;
        position: relative;
    }

        .funbar-controls > .button-listadd a {
            font-size: 15px;
            line-height: 18px;
            border-radius: 6px;
            margin: 3px 5px;
            color: #fff;
            background-color: #76b852;
            border-color: transparent;
        }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

    .container header {
        border-bottom: 1px solid #eee;
        margin: 18px 100px 0;
    }

.chapter_title {
    font-weight: 600;
    text-align: center;
    color: #222;
    margin: 48px 30px 24px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

.chapter_title_chapter {
    text-align: center;
    color: #222;
    font-size: 22px;
    font-weight: 200;
    line-height: 36px;
}

.cover {
    width: 28px;
    height: 43px;
    background-color: white;
}

    .cover img {
        width: 100%;
        height: 100%;
    }

.dropdown {
    position: relative;
}

/*        footer
*/

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #76b852;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

    footer .intro, .categories, .ranking {
        background-color: #76b852 !important;
    }

    footer h3 {
        font-size: 15px;
    }

    footer p, footer a, footer li {
        font-size: 13px;
    }

    footer .social-icon {
        padding: 10px;
    }

        footer .social-icon img {
            width: auto !important;
            height: 70px !important;
            position: relative
        }

/*Account
*/
.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.account-info {
    position: relative;
    margin-bottom: 30px;
}

    .account-info .info-detail {
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        padding: 15px 20px;
    }

        .account-info .info-detail img {
            width: 400px;
            height: auto
        }

        .account-info .info-detail .group {
            margin-bottom: 10px;
        }

            .account-info .info-detail .group .label {
                float: left;
                width: 100px;
                color: #000;
                font-size: 100%;
                text-align: left;
                font-weight: 400;
            }

            .account-info .info-detail .group .detail {
                display: table-cell;
                font-weight: 400;
                padding: .2em .6em .3em;
            }

.content h2 {
    color: #76b852;
}

.posttitle {
    font-weight: 500;
    border-left: 3px solid #76b852;
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
    min-height: 27px;
}
